.c-flight-search {
  /* width: 800px; */
  /* height: 300px; */
  border-radius: 16px;
  margin: 50px auto;
  background: var(--search-background-color);
  position: relative;
  top: -200px;
  height: 300px;
  display: flex ;
  /* width: 90%; */
}

@media screen and (max-width: 760px) {
  .c-flight-search {
    top: -100px;
  }
}

.c-flight-search__cities {
  padding: 16px;
  display: flex;
  width: 50%;
  flex-direction: row;

}
.c-flight-search__cities input:first{
  border-radius: 50%;
}

.accordion-collapse strong{
  font-size: 11px;
  font-weight: 0;
  color: var(--text-color);
}
.card{
background-color: var(--search-background-color);  
}
.offcanvas-body{
  padding: 0px;
  background-color: var(--alternate-background-color);
  border-radius: 0 0 24px 24px;
}
.offcanvas-body .buy-blit:hover{
  background-color: var(--hover-card);

}
.buy-blit{
  margin-top: 24px !important;
  padding: 8px;
}
@media screen and (max-width: 760px) {
  .buy-blit{
    margin-right: 0px !important;
    margin-left: 0 !important;
  }
}
.buy-blit span{
  position: absolute;
  top: -26px;
}

.offcanvas-top {
  height: 90% !important;
  border-radius: 0 0 24px 24px;
}

.offcanvas-top .card{
  margin: 16px;
  border-radius: 16px;
}
.ticket{
  padding: 0 !important;
}
.travel-time{
  position: absolute;
  top: 20px;
  text-align: center;
  width: 100%;
}
.from,.to{
  border-radius: 12px;
  border: 1px solid var(--alternate-background-color);
}
/* @media screen and (max-width: ) {
.
} */
