body {
    background: var(--background-color);
    color: var(--text-color);
}

a {
    color: var(--link-color);
}

a:hover {
    text-decoration: underline;
    filter: brightness(80%);
}



.header-section{
    background-color: var(--bs--yellow-300);
    height: 100px;
}